@charset "utf-8";

/*Blockquote Styles*/
.blockquote {
  font-size: 1.1rem;
}
.blockquote-footer {
  font-size: 0.9rem;
}
.fa-quote-left, .fa-quote-right {
  opacity: 0.3;
}

/*Carousel Styles*/
/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute; /*fix position*/
  top: 50%;
  margin-top: -22px;
  transition: 0.2s ease; /*hover transition for buttons*/
  /*user cannot select text*/
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
/*Icon style*/
.fa-arrow-left, .fa-arrow-right {
  color: rgba(0, 0, 0, 0.7);
}

/* Position the "next button" to the right of slideshow-container*/
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/*Only show previous & next buttons when hover*/
@media (min-width:1024px) {
  .slideshow-container .prev, .slideshow-container .next {
    display: none;
  }

  .slideshow-container.active .next, .slideshow-container.active .prev {
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .slideshow-container.active .next:hover, .slideshow-container.active .prev:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/* The dots/bullets/indicators */
/*Position of dots*/
.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}
/*Dots style*/
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  transition: background-color 0.6s ease;
}
/*Dot hover effect*/
.activeDot, .dot:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Fading animation for slides */
.toFade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .5
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .5
  }
  to {
    opacity: 1
  }
}